.container {
    width: 700px;
    height: 400px;;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid black;
    position: relative;
}

.yellow {
    background-color: yellow;
    width: 120px;
    height: 100px;
    position: relative;
    top: 15px;
    left: 20px;
}

.green {
    background-color: #b5e61d;
    width: 120px;
    height: 100px;
    position: relative;
    top: -30px;
    left: 80px;
    z-index: 100;
}

.grey {
    background-color: grey;
    width: 120px;
    height: 100px;
    position: relative;
    top: -70px;
    left: 145px;
}

.header {
    width: 100%;
    height: 50px;
    position: fixed; 
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;       
    background: brown;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.content {
    width: 700px;
    height: 1200px;
    border: 1px solid brown;
    margin: 0 auto;
    position: relative;
    top: 70px;
    padding: 15px;
}
